body {
    padding: 0;
    margin: 0;
    border: 0;
}




h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}


p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.beskrivelse {
    font-family: 'Open Sans', sans-serif;
}

dropdown {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*******            Index.html           ******/

header {
    grid-area: header;
    position: absolute;
    right: 0;

}

.splashvideo {
    grid-area: splash;

}

.splash .button:hover {
    opacity: 90%;
}

.velkomst {
    grid-area: indhold;
}

footer {
    grid-area: footer;
    background: lightseagreen;
}

#body_container {
    display: grid;
    grid-template-areas:
        "header"
        "splash"
        "indhold"
        "footer";

}

/* Grid i velkomst  */


/*
    .velkomst > div {
        padding: 3rem;
    }
*/


/** NAV & BURGERMENU **/

.hidden {
    display: none;
}

#menu .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    font-size: 1.5em;
    cursor: pointer;
    color: black;

}

#menu {
    padding-top: 50px;
    position: relative;
    list-style-type: none;
    background-color: #1B84C5;
    width: 100vw;

}

#menu a {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}


#menu a:hover {
    transform: scale(1.2);
}



.topnav a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    line-height: 80px;
}

.topnav a:hover {
    color: red;
}

.burgermenu {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.topnav {
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
    margin-right: 40px;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton {
    background-color: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    line-height: 80px;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 0;
}

.dropdown-content a {
    padding: 0px;
    margin: 0px;
    float: none;
    display: block;
    color: black;
    text-align: left;
    font-size: 1rem;
    background-color: #1B84C5;
    line-height: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/***********************************************************/


@media screen and (min-width:960px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    .topnav {
        height: 80px;
    }


}

@media only screen and (max-width: 700px) {
    .topnav {
        display: none;
    }

    #body_container .splash_billede img {
        width: 100vw;
    }


}

@media screen and (min-width:700px) {


    /*******                  index.html                  ******/

    #body_container header {
        position: absolute;
        right: 0;
    }

    #body_container .velkomst {
        display: grid;
        width: 100%;
        max-width: 90vw;
        margin: auto;

        grid-template-areas:
            " . vh2 . "
            " vp . vp2 "
            " img1 . img2 "
            " . sh2 . "
            " sp . sp2 ";
    }

    #body_container .velkomst .velkomst_h2 {
        grid-area: vh2;
        background-color: aqua;
        font-size: 36px;
        min-width: 15rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    #body_container .velkomst .velkomst_p {
        grid-area: vp;
        background-color: red;
        max-width: 30rem;
    }

    #body_container .velkomst .velkomst_p2 {
        grid-area: vp2;
        background-color: red;
        max-width: 30rem;
    }

    #body_container .velkomst .img1 {
        grid-area: img1;
        width: 502px;
    }

    #body_container .velkomst .img2 {
        grid-area: img2;
        width: 502px;

    }

    #body_container .velkomst .service_h2 {
        grid-area: sh2;
        background-color: fuchsia;

    }

    #body_container .velkomst .service_p {
        grid-area: sp;
        background-color: gold;

    }

    #body_container .velkomst .service_p2 {
        grid-area: sp2;
        background-color: gold;

    }


    .splash .slogan {
        position: relative;
        top: -25rem;
        text-align: center;
        color: #FAFAFA;
        text-transform: uppercase;
        font-size: 36px;
    }


    .splash .kontakt_knap {
        display: flex;
        justify-content: center;

    }

    .splash .button {
        position: absolute;
        top: 25vw;
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }



    /********************************************************************/


}
