.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}


/* class til at gøre menuknap hvid */
.whiten {
    color: #ffffff;

}

body {
    padding: 0;
    margin: 0;
    border: 0;
}


h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}


p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.beskrivelse {
    font-family: 'Open Sans', sans-serif;
}

dropdown {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*                     Loading Hjul                     */

.hjul {
    animation-name: rotation_kf;
    animation-duration: 2s;
    animation-iteration-count: 10;


}

@keyframes rotation_kf {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

#hjul_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hjul_sprite {
    background-image: url(nytnythjul.png);
    width: 250px;
    height: 249px;
    background-size: 100%;
}


/*******            Index.html           ******/

header {
    grid-area: header;
    z-index: 1;
}

.splash {
    grid-area: splash;
}

.velkomst {
    grid-area: indhold;
}

footer {
    grid-area: footer;
}



#body_container {
    display: grid;
    grid-template-areas:
        "header"
        "splash"
        "indhold"
        "footer";
    /*  for at indsætte loading som efterfølgende kalder body_container */
    display: none;
}


#body_container .splash_billede {
    background-image: url(img/splash_nyt.jpg);
    background-size: cover;
    width: 100vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-attachment: fixed;

}


#body_container .splash_text {
    text-align: center;
    position: absolute;
    color: white;
    font-size: 47px;

}

#body_container .splash_text button {
    border: none;
    display: inline-block;
    padding: 20px 45px;
    background-color: white;
    color: #0F7DC7;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.2s;
}

#body_container .splash_text button:hover {
    background-color: #0F7DC7;
    color: white;
}

#body_container header {
    position: absolute;
    right: 0;
}

#body_container .velkomst {
    display: grid;
    width: 100%;
    /*
    max-width: 90vw;
    padding: 1rem;
    margin: auto;
*/
    text-align: center;
    grid-template-areas:
        " vh2  "
        " vp "
        " img1"
        "img2"
        "simg "
        " sh2  "
        " sp ";
}

#body_container .velkomst .velkomst_h2 {
    grid-area: vh2;
    font-size: 36px;
    min-width: 15rem;
    margin-top: 75px;
}

#body_container .velkomst .velkomst_p {
    grid-area: vp;
    position: relative;
    max-width: 35rem;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8rem;
    padding: 2rem;
    margin-top: 50px;
    margin-bottom: 100px;
}



#body_container .velkomst .img1 {
    grid-area: img1;
    width: 100%;
    margin-bottom: 20px;
    width: 30rem;
    margin: auto;
}

#body_container .velkomst .img2 {
    grid-area: img2;
    width: 100%;
    margin-bottom: 20px;
    width: 30rem;
    margin: auto;
}

#body_container .velkomst .service_img {
    grid-area: simg;
    width: 100%;
    height: 80vw;
    background-image: url(img/ny_service.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;


}

#body_container .velkomst .service_h2 {
    grid-area: sh2;
    font-size: 36px;
    min-width: 15rem;

    text-align: center;
    margin-top: 75px;


}

#body_container .velkomst .service_p {
    grid-area: sp;
    max-width: 35rem;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8rem;
    padding-bottom: 2rem;
    margin-top: 50px;
    margin-bottom: 75px;
}

/**********************************************************************/


/** NAV & BURGERMENU **/


.logo {
    width: 65px;
    height: 65px;
    position: fixed;
    right: 85vw;
    top: 0.5vw;
    cursor: pointer;

}

#body_container nav a {
    color: white;
}

#body_container nav a:hover {
    color: white;
    text-shadow: 0 0 0.6px white;
}



.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}


.hidden {
    display: none;
}

#menu .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    font-size: 1.5em;
    cursor: pointer;
    /*    color: black;*/
    position: absolute;
    top: 3vw;
    right: 4vw;
    z-index: 3;

}

#menu {
    padding-top: 50px;
    position: relative;
    list-style-type: none;
    background-color: #0d0c1d;
    width: 100vw;
    height: 20000px;
    z-index: 2;
    margin: 0px;
}


#menu a {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


#menu a:hover {
    transform: scale(1.2);
}


.topnav a {
    cursor: pointer;
    text-decoration: none;
    padding-left: 20px;
    line-height: 80px;
}

.topnav a:hover {
    color: black;
    text-shadow: 0 0 0.5px black;
}

.burgermenu {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.topnav {
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
    margin-right: 40px;

}

/***********************************************************/




@media screen and (min-width:600px) {
    #menuknap {
        display: none;
    }
}


@media screen and (max-width:600px) {
    .topnav {
        display: none;
    }
}

@media screen and (min-width:960px) {


    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    .topnav {
        height: 80px;
    }


}

/*   DESKTOP   */

@media screen and (min-width:1000px) {


    /*******                  index.html                  ******/

    #body_container .logo {
        right: 93vw;
        width: 75px;
        height: 75px;
    }

    #body_container .splash_billede {
        background-size: cover;
        width: 100vw;
        height: 40vw;
    }

    #body_container .velkomst {
        display: grid;
        width: 100%;
        /*        max-width: 80vw;*/
        /*        margin: auto;*/
        /*        padding: 2rem;*/
        grid-template-areas:
            " . vh2 . "
            " vp vp vp "
            " img1 img1 img2 "
            "simg simg simg"
            " . sh2 . "
            " sp sp sp ";
    }

    #body_container .velkomst .velkomst_h2 {
        grid-area: vh2;
        font-size: 36px;
        min-width: 15rem;

    }

    #body_container .velkomst .velkomst_p {
        grid-area: vp;

    }



    #body_container .velkomst .img1 {
        grid-area: img1;
        height: 40vw;
        width: 40rem;
        margin: auto;
    }

    #body_container .velkomst .img2 {
        grid-area: img2;
        height: 40vw;
        width: 40rem;
        margin: auto;
    }

    #body_container .velkomst .service_img {
        grid-area: simg;
        width: 100%;
        height: 40vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #body_container .velkomst .service_h2 {
        grid-area: sh2;
        font-size: 36px;
        min-width: 15rem;
        text-align: center;


    }

    #body_container .velkomst .service_p {
        grid-area: sp;

    }

    /******* FOOTER *************/
    footer .left {
        padding: 0px 20px 20px 20px;
        flex-grow: 1;
        flex-basis: 30px;
    }


}

/**********************************************************/

/************************* MQ-DESKTOP *********************************/


/******  tablet  *****/

@media screen and (min-width:768px) {

    .logo {
        right: 89vw;
        width: 75px;
        height: 75px;
    }

    #body_container .splash_billede {
        background-size: cover;
        width: 100vw;
        height: 40vw;

    }


    #body_container header {
        position: absolute;
        right: 0;
    }

    #body_container .velkomst {
        display: grid;
        width: 100%;
        /*        max-width: 90vw;*/
        /*        margin: auto;*/
        /*        padding: 2rem;*/
        text-align: center;

        grid-template-areas:
            " vh2 vh2  "
            " vp vp "
            " img1 img2"
            " simg simg "
            " sh2 sh2 "
            " sp sp ";
    }

    #body_container .velkomst .velkomst_h2 {
        grid-area: vh2;
        font-size: 36px;
        min-width: 15rem;

    }

    #body_container .velkomst .velkomst_p {
        grid-area: vp;

    }



    #body_container .velkomst .img1 {
        grid-area: img1;
        margin: auto;
    }

    #body_container .velkomst .img2 {
        grid-area: img2;
        margin: auto;
    }

    #body_container .velkomst .service_img {
        grid-area: simg;
        width: 100%;
        height: 40vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #body_container .velkomst .service_h2 {
        grid-area: sh2;
        font-size: 36px;
        min-width: 15rem;

        text-align: center;
    }

    #body_container .velkomst .service_p {
        grid-area: sp;

    }

    /***** FOOTER *****/

}

/************************* MQ-TABLET  *********************************/

/* Footer */

footer {
    /*    border-top: 2px solid #1b5728;*/
    /*    background-color: #1b5728;*/
    color: #fff;
    background-image: url(img/bgFooter.gif);
}


.footer_billeder {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vw;

}

footer img {
    width: 40px;
    height: 40px;
    border: 0px;
    padding: 5px;
    cursor: pointer;
}

footer img:hover {
    transform: scale(1.2);
}

footer .tekst {
    display: flex;
}

footer .left {
    padding: 0px 20px 20px 20px;
    flex-grow: 1;
    flex-basis: 300px;
}

footer .right {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0px 20px 20px 20px;
    text-align: right;
}

footer p {
    font-weight: 100;
}


/*************************** FOOTER ************************************/

@media screen and (min-width:1000px) {
    .logo {
        right: 93vw;
        width: 75px;
        height: 75px;
    }
